@font-face {
    font-family: Sunday Girl;
    src: url(../../fonts/Sunday\ Girl.ttf);
}

@font-face {
    font-family: Duru Sans;
    src: url(../../fonts/DuruSans-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.modal_overlay {
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


.modal_container {
    background: url(/arquivos/background-solo.png);
    border-radius: 10px;
    display: flex;
    height: 100%;
    max-height: 585px;
    max-width: 650px;
    position: relative;
    width: 100%;
    z-index: 99999999;
}

.modal_close__mobile {
    display: none;
}

.modal_close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 23px;
    background: none;
    border: none;
    font-size: 1.5rem;
    top: 10px;
}

.modal__left,
.modal__right {
    height: 100%;
}

.modal__left {
    background-image: url(/arquivos/alone.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 43%;
}

.modal__right {
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 0;
}

.modal__head {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
}

.modal__head button {
    background: none;
    border: none;
    color: #e5b590;
    outline: none;
}

.popup__formTitle {
    font-family: Duru Sans;
    font-size: 1rem;
    text-align: center;
}

.popup__formGreetings {
    text-align: center;
    font-family: Sunday Girl;
    font-size: 6rem;
}

.popup__formText {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    width: 100%;
    line-height: 28px;
    max-width: 320px;
    margin: -4px auto 16px;
    text-align: center;
    font-weight: 400;
}

.popup__formText strong {
    font-weight: 800;
}

.modal__formWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputFullWidth {
    background: #f8eade;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    max-width: 335px;
    padding: 4px 7px;
    width: 90%;
}

.optinWrapp {
    align-items: center;
    display: flex;
    font-size: .9rem;
    gap: 6px;
}

.institutionalUrl {
    color: #5e5e5e;
    text-decoration: none;
}

.sendButton,
.returnToSiteBtn {
    background-color: #242424;
    border: unset;
    border-radius: 5px;
    color: #ddd;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.088rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    max-width: 335px;
    padding: 10px 41px;
    text-transform: uppercase;
    transition-duration: 0.2s;
    width: 100%;
}

.returnToSiteBtn {
    margin: 15px 0px
}

.modal__successWrapp {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.modal_container_bgWhite {
    background: #fff;
    border-radius: 10px;
    display: flex;
    height: 100%;
    max-height: 485px;
    max-width: 415px;
    position: relative;
    width: 100%;
}

.coupon__container {
    padding: 10px;
    text-align: center;
}

.success__message,
.couponTextTitle {
    font-size: 19px;
}

.modal__line {
    background: #e5b590;
    height: 1px;
    max-width: 400px;
    width: 100%;
}

.couponCode {
    background-image: linear-gradient(-180deg, transparent 50%, #f8eade 50%);
}

.couponSubText {
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .modal_container {
        display: block;
    }

    .modal_container,
    .modal_container_bgWhite {
        background: #fff;
        width: 95%;
    }

    .modal__left {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-position-y: -35px;
        background-size: cover;
        background-size: 100%;
        background-position: center;
        background-position-y: -40px;
        height: 168px;
        width: 100%;
    }

    .modal__right {
        height: 80%;
        width: 100%;
    }

    .modal_close {
        display: none;
    }

    .modal_close__mobile {
        background: transparent;
        border: none;
        color: #242424;
        display: block;
        outline: none;
        position: absolute;
        right: 20px;
        top: 20px;
        font-weight: bold;
        font-size: 23px;
    }

    .modal_close {
        background: none;
        border: none;
        font-size: 1.5rem;
        top: 10px;
    }

    .popup__formText {
        margin: -15px auto 15px auto;
    }

    .popup__formGreetings {
        font-size: 6rem;
    }

    .inputCalendar {
        -webkit-appearance: none;
        appearance: none;
    }

}

@media screen and (max-width: 350px) {
    .popup__formGreetings {
        font-size: 5rem;
    }

    .sendButton,
    .returnToSiteBtn {
        width: 90%;
    }

}